**/*.log
/corpus
/target
hoedur/completions/
qemu-sys/src/bindings/*/.commit-*
qemu-sys/src/bindings/release/*.rs
qemu-sys/src/bindings/debug/*.rs

__pycache__/

.gdb_history

/experiments
/venv
log.txt

target-zephyr/runs/

target-zephyr/zephyr.lock~

target-zigbee/runs/
